<div class="container">
  <h1>Bienvenue dans l'app de réservation de places</h1>
  <%= link_to "S'inscrire", new_request_path, class: "btn btn-primary" %>
  <%= link_to "Superviser", requests_path, class: "btn btn-primary" %>
</div>
